#backround {
    text-align: center;
    background: linear-gradient(10deg, rgb(194, 192, 235) 0%, rgb(90, 149, 238) 35%, rgba(194,245,255,1) 100%);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    font-size: 20px;
  }
  
  #search-input{
    border-radius: 20px;
    width: 40%;
    margin-top: 10%;
    
  }
  
  #button{
    border-radius: 20px;
  }
  #container{
    margin-left: 20%;
    background-color: aliceblue;
    width: 60%;
    height: 70%;
  
  }
  #city{
    font-size: 300%;
  }

  #kind{
    font-size: 150%;
  }
  #temp{
    font-size: 150%;
    padding-top: 3%;
  }
  #high-low{
    padding-top: 3%;
    font-size: 150%;
  }

  #others{
    padding-top: 3%;
  }
  #img{
    width: 10%;
    padding-top: 4%;;
  }
